

<%= form_for @borrower,  html: {:multipart => true, class: 'ui form light_form'} do |f| %>
    <%= f.hidden_field :id %>
    <h3 class="ui horizontal divider header">
      <i class="ui icon user"></i>
      <%= @borrower.full_name %>
    </h3>

    <div class="fields">
      <div class="four wide field">
        <div class="field">
          <label><%= t('borrower.name') %></label>
          <%= f.text_field :name %>
        </div>

        <div class="field">
          <label><%= t('borrower.first_name') %></label>
          <%= f.text_field :first_name %>
        </div>
      </div>
      <div class="four wide field">
        <div class="field">
          <label><%= t('borrower.birth_date') %></label>
          <%= f.text_field  :birth_date, :class => 'borrowerBirthDate' %>
        </div>
      </div>

      <div class="four wide field">
        <div class="field">
          <label><%= t('borrower.company_name') %></label>
          <%= f.text_field :company_name %>
        </div>
      </div>

      <div class="four wide field">
        <div class="field">
          <label><%= t('borrower.amount') %></label>
          <%= f.text_field :amount_wished %>
        </div>
      </div>
    </div>

    <div class="field">
      <label><%= t('borrower.project_description') %></label>
      <%= f.text_area :project_description %>
    </div>



    <%= f.submit t('submit'),class: 'ui primary button right floated' %>
    <%= link_to t('delete'), borrower_path(@borrower.id) ,method: :delete, remote: true %>
    <a class='ui red button right floated deleteABorrower' data-url="<%= destroy_by_popup_borrower_path(@borrower.id) %>" data-objectid="<%= @borrower.id %>">
      <i class="ui icon trash"></i> <%= t('delete') %>
    </a>




<% end %>