<% # encoding: utf-8   %>
<h1 class="centeredTitle">Borrowers</h1>

<div class="ui cards">
<%- @borrowers.each do |borrower| %>
      <div class="card">
        <div class="content">
          <div class="header"><%= borrower.full_name %></div>
          <div class="meta">Works in <%= borrower.company_name %></div>
          <div class="meta">Created on <%= borrower.created_at.strftime('%d/%m/%Y') %></div>
          <div class="meta"><%= borrower.birth_date.strftime('%d/%m/%Y') %> (<%= borrower.age %> years old)</div>
          <div class="description">
            <%= borrower.project_description %>
          </div>
        </div>
      </div>
<% end %>
</div>

