
<div class="ui two column grid">
  <div class="column">
    <div class="ui segment">
      <a class="ui red ribbon label"><%= t('borrower.overview') %></a>
      <span class="ui header"><%= t('borrower.account_summary') %><a href="<%= edit_borrower_path(@borrower) %>"><i class="ui icon edit"></i></a></span>
      <p></p>
      <div class="ui grid">
        <div class="four wide column">
          <div class="ui image">
            <%= image_tag 'u1.png', height: '120px', :width => '120px', :class => 'linkPicture' %>
          </div>
        </div>

        <div class="twelve wide column">
          <div class="ui text">
            <h2 class="ui header"><%= @borrower.full_name %></h2>
            <p class=""><span class="ui horizontal label"><%= t('borrower.company') %></span> <%= @borrower.company_name %></p>
            <p class=""><%= t('borrower.created_on') %> <%= @borrower.created_at.strftime('%d/%m/%Y') %></p>
            <p class=""><%= @borrower.display_birth_date %> (<%= @borrower.age %> <%= t('borrower.years_old') %>)</p>
            <p class=""><span class="ui horizontal label"><%= t('borrower.project') %></span><%= @borrower.project_description %></p>
            <p class=""><span class="ui horizontal label"><%= t('borrower.amount') %></span><%= @borrower.amount_wished %> MGA</p>
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <a class="ui blue ribbon label"><%= t('borrower.loans') %></a>
      <span class="ui header"><%= t('borrower.activity') %></span>
      <%- if @borrower.current_loans %>
          <%- @borrower.current_loans.each do |loan| %>
              <div>
                <p><a class="" href="<%= loan_path(loan) %>"><%= light_loan_title(loan) %></a></p>

                <p>(<%= loan.amount %> MGA with a <%= loan.rate %>% <%= t('rate') %>),
                  <%= t('from') %> <%= loan.start_date.strftime('%d/%m/%Y') %> <%= t('to') %>
                  <%= loan.contractual_end_date.strftime('%d/%m/%Y') %>
                </p>
              </div>
          <%- end %>
      <%- else %>
          <p class=""><%= t('borrower.no_info') %></p>
      <%- end %>
    </div>
  </div>

  <div class="column">

    <div class="ui segment">
      <a class="ui orange right ribbon label"><%= t('borrower.history') %></a>
      <span class="ui header"><%= t('borrower.past_actions') %></span>
      <%- if @borrower.past_loans %>
          <%- @borrower.past_loans.each do |loan| %>
              <div>
                <p><a class="" href="<%= loan_path(loan) %>"><%= light_loan_title(loan) %></a></p>

                <p>(<%= loan.amount %> MGA with a <%= loan.rate %>% <%= t('rate') %>),
                  <%= t('from') %> <%= loan.start_date.strftime('%d/%m/%Y') %> <%= t('to') %>
                  <%= loan.contractual_end_date.strftime('%d/%m/%Y') %>
                </p>
              </div>
          <%- end %>
      <%- else %>
          <p class=""><%= t('borrower.no_info') %></p>
      <%- end %>
    </div>

    <div class="ui segment">
      <a class="ui teal right ribbon label"><%= t('borrower.side_notes') %></a>
      <span class="ui header"><%= t('borrower.comments') %></span>
      <p></p>
      <p class=""><%= t('borrower.no_info') %></p>
    </div>

  </div>

</div>




