<div class="ui middle aligned center aligned grid">
  <div class="six wide column"></div>

  <div class="four wide column">
    <h2 class="ui dark_purple image header">
      <%= image_tag('u1.png', :class => 'image') %>
      <div class="content">
        Change your password?
      </div>
    </h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'ui large form', method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="ui stacked segment">

          <div class="field">
            <label>Your new password</label>
            <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
            <% end %>
            <div class="ui input">
              <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
            </div>
          </div>

          <div class="field">
            <label>Confirm new password</label>
            <div class="ui input">
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>
          </div>

          <%= f.submit 'Change my password', :class => 'ui fluid large teal submit button' %>
        </div>
        <div class="ui error message"></div>
    <% end %>

    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="six wide column"></div>
</div>