

<div class="item light_item">
  <div class="ui small image">
    <%= image_tag 'templateOfLoans.png' %>
  </div>
  <div class="content">
    <div class="header"><%= template.name %></div>
    <div class="meta">
      <span class="template_amount"><%= template.amount %></span>
      <span class="template_rate"><%= template.rate %></span>
      <span class="template_duration"><%= template.duration %> <%= t('months', :count => template.duration) %></span>
      <span class="template_prerequisite"><%= t('happens_after') %> <%= template.prerequisite %></span>
    </div>
    <div class="description">
      <p></p>
    </div>
  </div>
</div>