
<div class="card">

  <div class="content">
    <div class="header"><%= template.name %></div>
    <div class="meta"><%= template.amount.to_i %> MGA</div>
    <div class="description">
      <p class="template_rate"><%= template.rate %> %</p>
      <p class="template_duration"><%= template.duration %> <%= t('month', :count => template.duration) %></p>
      <p class="template_prerequisite">
        <%- unless template.prerequisite_name.nil? %>
            <%= t('loan_template.happens_after') %> <%= template.prerequisite_name %>
        <%- end %>
      </p>
    </div>
  </div>
  <div class="extra content">
    <div class="">
      <%= image_tag 'templateOfLoans.png', :class => 'very_small_pictures_for_lists' %>
    </div>
  </div>
</div>

