

<%= form_for @template,  html: {:multipart => true, class: 'ui form light_form'} do |f| %>
    <%= f.hidden_field :id %>
    <h3 class="ui horizontal divider header">
      <i class="ui icon user"></i>
      <%= t('loan_template.edit') %>
    </h3>

    <div class="fields">
      <div class="four wide field">
        <div class="field">
          <label><%= f.label :name %></label>
          <%= f.text_field  :name %>
        </div>
      </div>
      <div class="four wide field">
        <div class="field">
          <label><%= f.label :duration %></label>
          <%= f.text_field  :duration %> (<%= t('month', :count => 2) %>)
        </div>
        <div class="field stepsField">
          <label>Steps</label>
          <span class="ui teal button fluid addAStep" data-url="<%= steps_new_path %>"
                data-loantemplateid="<%= @template.id %>"><i class="ui icon plus"></i> Add a step</span>
        </div>
      </div>
      <div class="four wide field">
        <div class="field">
          <label><%= f.label :amount %></label>
          <%= f.text_field :amount, :placeholder => t('loan_template.amount_example') %>
        </div>
        <div class="field">
          <label><%= f.label :rate %></label>
          <%= f.text_field :rate, :placeholder => t('loan_template.rate_example') %> <%= t('loan_template.rate_explanation') %>
        </div>
      </div>
      <div class="four wide field">
        <div class="field">
          <label class="friendly_label"><%= f.label :template_completed_before_id %></label>
          <span class="ui mini compact icon button dropdown_clear_button">
            <i class="ban icon"></i>
          </span>
          <div class="space_block"></div>
          <%= select_tag('loan_template[template_completed_before_id]', '',id: 'loan_template_template_completed_before_id', class: 'ui dropdown search loanTemplatePrerequisite newLoanTemplate',
                         data: {:url => data_source_loan_templates_list_url, :initializeurl => prerequisite_for_template_loan_template_path,
                                :objectlinkid => @template.id, :placeholder => 'Choose a loan product'
                         }, include_blank: t('loan_template.none')) %>
        </div>
      </div>
    </div>

    <%= f.submit t('submit'), class: 'ui primary button right floated' %>

    <a class='ui red button right floated deleteALoanTemplate' data-url="<%= destroy_by_popup_loan_template_path(@template.id) %>" data-objectid="<%= @template.id %>">
      <i class="ui icon trash"></i> <%= t('delete') %>
    </a>

<% end %>