<% # encoding: utf-8   %>
<h1 class="centeredTitle"><%= t('menu.loans') %></h1>

<div class="ui grid">
  <div class="seven wide column"></div>
  <div class="independentElement nine wide column">
    <a class="ui button teal" href="<%= new_loan_path %>"><i class="ui icon add"></i> <%= t('add') %> </a>
  </div>
</div>

<div class="ui items">
  <%- @loans.each do |loan| %>
  <div class="item light_item">
    <div class="ui image">
      <%= image_tag 'u1.png', :class => 'medium_pictures_for_lists' %>
    </div>

    <div class="content">
      <a class="header"><%=  %> <%= t('loan.loan_of') %> <%= loan.borrower.full_name %></a>
      <div class="meta">
        <span><%= t('loan.description') %></span>
      </div>
      <div class="description">
        <p><%= loan.loan_goal %></p>
        loan.order
        t('loan.times')
      </div>
      <div class="extra">
        <p><%= t('rate') %>: <%= loan.rate %></p>
        <p><%= t('amount') %>: <%= loan.amount %></p>
        <p><%= t('from') %> <%= loan.start_date.strftime('%d/%m/%Y') %> <%= t('to') %> <%= loan.contractual_end_date.strftime('%d/%m/%Y') %></p>
      </div>
    </div>
  </div>

  <% end %>
</div>



