


<div class="ui attached middle aligned center aligned grid">
  <div class="six wide column"></div>

  <div class="four wide column">
    <h2 class="ui dark_purple image header">
      <%= image_tag('u1.png', :class => 'image') %>
      <div class="content">
        Ubris Loan Manager - Log In
      </div>
    </h2>



    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "ui large form" }) do |f| %>

      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? -%>
            <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        <% end -%>
        <%= f.submit 'Log in', :class => 'ui fluid large teal submit button' %>
      </div>


    <% end %>


    <div class="ui message">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="six wide column"></div>
</div>