<% # encoding: utf-8   %>

<%= validation_error_messages!(new_step) %>



<%= form_for new_step,url: { action: 'create' }, remote: true, html: {:multipart => true, class: 'ui form variation_form' } do |f| %>

    <h4><%= t('step.create_new') %></h4>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <%= f.hidden_field :loan_id %>
    <%= f.hidden_field :loan_template_id %>

    <div class="fields">
      <div class="five wide field">
        <div class="field">
          <label><%= f.label :expected_date %></label>
          <%= f.text_field :expected_date, :class => 'stepExpectedtDate' %>
        </div>
      </div>
      <div class="five wide field">
        <div class="field">
          <label><%= f.label :amount %></label>
          <%= f.text_field  :amount, :placeholder => t('loan.amount_example') %>
        </div>
      </div>
      <div class="six wide field">
        <div class="field">
          <label><%= f.label :step_type_id %></label>
          <%= select_tag('step[step_type_id]', '',id: 'step_step_type_id', class: 'ui dropdown search stepType newStepType',
                         data: {:url => data_source_step_types_list_url, :placeholder => 'Choose a step Type', :preselect => 'true'
                         }) %>
        </div>
      </div>

    </div>


    <%= f.submit 'Add', class: 'ui teal button right floated' %>
<% end %>

