
<div class="item loan_step loan_step<%= step.id %>">
  <%- if step.type == Step::StepTypeEnum::RELEASE %>
      <%= image_tag 'diagonal-arrow-6.png', :class => 'ui avatar image' %>
  <%- elsif step.type == Step::StepTypeEnum::RECEIPT %>
      <%= image_tag 'diagonal-arrow-5.png', :class => 'ui avatar image' %>
  <%- end %>

  <div class="content">
    <div class="header">FROM TEMPLATE <%= step.type %> of <%= step.amount %></div>
    <div class="description">(<%= step_display_time(step.months_after_previous_milestone) %>)</div>
  </div>
  <a class="leftMargin editStep editStep<%= step.id %> mini ui icon button blue" href="<%= edit_step_path(step.id) %>">
    <i class="icon edit"></i>
  </a>
  <div class="removeStep removeStep<%= step.id %> mini ui icon button red" data-url="<%= destroy_by_popup_step_path(step.id) %>"
       data-objectid="<%= step.id %>" data-loantemplateid="<%= step.loan_template_id %>" data-parenttype="Loan">
    <i class="icon remove"></i>
  </div>
</div>

