<!DOCTYPE html>
<html>
  <head>
    <title>Aloan</title>


    <link rel="icon" type="image/png" href="<%= image_path('u1.png')%>" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<% is_registration_call=['registrations','passwords','sessions'].include?(controller_name)
  class_for_background=''
  if is_registration_call
    class_for_background = 'registrationContainer'
  end
%>


  <body class="<%= class_for_background %>">
  <%=	if user_signed_in?
         render 'layouts/menu'
       else
         render 'layouts/welcome_menu'
       end
  %>

  <div class="ui grid">
    <div class="five wide column"></div>
    <div class="six wide column">
      <%- if notice %>
      <div class="ui attached positive message notice">
        <p class="header notice"><%= notice %></p>
      </div>
      <%- end %>

      <%- if alert %>
      <div class="ui attached negative message notice">
        <p class="header alert"><%= alert %></p>
      </div>
      <%- end %>
    </div>
    <div class="five wide column"></div>
  </div>



  <%- if is_registration_call %>
      <%= yield %>
  <% else %>
      <div class="ui grid">
        <div class="three wide column"></div>
        <div class="ten wide column">
          <%= yield %>
        </div>
        <div class="three wide column"></div>
      </div>

  <% end %>






  </body>
</html>
